# ===============================
# DATA FILES (NEVER COMMIT)
# ===============================
data/*.csv
data/*.zip
data/*.parquet
data/*.json

# ===============================
# SQL SERVER LOCAL FILES
# ===============================
*.bak
*.mdf
*.ndf
*.ldf

# ===============================
# OS / TEMP
# ===============================
Thumbs.db
.DS_Store
